* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Common Css */
.margin-top-20 {
  margin-top: 20px;
}

.margin-top-15 {
  margin-top: 20px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  color: white;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../img/images/donation5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__content {
  width: 65%;
  text-align: center;
}

.header__heading {
  font-size: 65px;
}
.header__paragraph {
  line-height: 1.5;
  width: 80%;
  margin: 0 auto;
}

.button {
  font-size: 20px;
  display: inline-block;
  background-color: #ff5959;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.donate {
  text-align: center;
  padding: 60px 60px;
}
.donate__heading {
  font-size: 42px;
}

.donate__paragraph {
  color: #707070;
  width: 60%;
  margin: 8px auto;
}

.donate__amounts {
  margin: 50px auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.donate__amount {
  color: #707070;
  font-size: 30px;
  font-weight: 700;
  padding: 30px 20px;
}

.donate__amount--active {
  background-color: #ffeeee;
  color: #ff5959;
  border: 2px solid #ff5959;
  border-radius: 5px;
}

.donate__input {
  color: #707070;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  display: block;
  width: 60%;
  margin: 0 auto;
  border: none;
  outline: none;
  border-bottom: 1px solid #707070;
}
