* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Common Css */
.margin-top-20 {
  margin-top: 20px;
}

.margin-top-15 {
  margin-top: 20px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.section {
  text-align: center;
  padding: 60px 0;
}
.section__title {
  font-size: 42px;
}

.section__sub-title {
  color: #707070;
  width: 50%;
  margin: 8px auto 32px auto;
}

.button {
  font-size: 20px;
  display: inline-block;
  background-color: #ff5959;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

/* Header Styles */

.header {
  color: white;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../img/images/donation5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__content {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.header__title {
  font-size: 65px;
}
.header__sub-title {
  line-height: 1.5;
  width: 70%;
  margin: 20px auto;
}

/* Donate Styles */

.donate__amounts {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.donate__amount {
  color: #707070;
  font-size: 30px;
  font-weight: 700;
  padding: 30px 20px;
}

.donate__amount--active {
  background-color: #ffeeee;
  color: #ff5959;
  border: 2px solid #ff5959;
  border-radius: 5px;
}

.donate__input {
  color: #707070;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  display: block;
  width: 60%;
  margin: 32px auto;
  border: none;
  outline: none;
  border-bottom: 1px solid #707070;
}

/* Plan Styles */

.plan__items {
  display: flex;
  justify-content: space-between;
}

.plan__item {
  padding: 32px;
  text-align: left;
  width: 31%;
}

.plan__item--1 {
  background-color: #edf5f6;
}
.plan__item--2 {
  background-color: #ffeeee;
}
.plan__item--3 {
  background-color: #fff4d6;
}

.plan__img {
  margin-bottom: 16px;
}
.plan__title {
  font-size: 24px;
  margin-bottom: 16px;
}

/* Gallery Styles */

.gallery__photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}
.gallery__photo {
  object-fit: cover;
  width: 32%;
}

/* Newsletter Styles */

.newsletter__form {
  background-color: #fff4d6;
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

.newsletter__input {
  padding: 16px;
  background-color: #d9d9d9;
  border: none;
  outline: none;
  width: 50%;
}

.newsletter__button {
  font-family: inherit;
  color: #fff;
  background-color: #ff5959;
  border: none;
  outline: none;
  padding: 0 30px;
}

/* Footer Styles */

.footer {
  background-color: #0b0d17;
  color: #fff;
  padding: 40px 0;
}

.footer__content {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  font-size: 32px;
  font-weight: 700;
  color: #ff5959;
}
